.no-select {
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

// theme colors
html[theme="light"] {
    & .text--error {
        @include theme-transition();
        color: color("light", error);
    }
}
html[theme="dark"] {
    & .text--error {
        @include theme-transition();
        color: color("dark", error);
    }
}