$fonts: (
    primary: (Raleway, Impact, Serif, sans-serif),
    secondary: (Quicksand, Impact, Serif, sans-serif)
);

$weights: (
    thin: 100,
    extra-light: 200,
    light: 300,
    regular: 400,
    medium: 500,
    semi-bold: 600,
    bold: 700,
    extra-bold: 800,
    black: 900,
);

@function font($font-name) {
    @return map-get($fonts, $font-name)
};

@function font-weight($weight) {
    @return map-get($weights, $weight)
};