.custom-checkbox {
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-weight: font-weight(medium);

    // Checked
    & .custom-control-input:checked ~ .custom-control-label::before {
        // placeholder
    }

    & .custom-control-label::before {
        // placeholder
    }

    & .custom-control-input:checked ~ .custom-control-label::after {
        background: transparent url('~assets/icons/check-icon.svg') no-repeat center/8px 10px;
    }
}

// theme colors
html[theme="light"] {
    & .custom-checkbox {
        // Checked
        & .custom-control-input:checked ~ .custom-control-label::before {
            color: color("light", text);
            border-color: color("light", text);
            background-color: color("light", layout-20);
        }
    
        & .custom-control-label::before {
            box-shadow: 0 0 1px 1px color("light", text)!important;
            background-color: color("light", layout-20);
        }
    }
}
html[theme="dark"] {
    & .custom-checkbox {
        // Checked
        & .custom-control-input:checked ~ .custom-control-label::before {
            color: color("dark", text);
            border-color: color("dark", text);
            background-color: color("dark", layout-20);
        }
    
        & .custom-control-label::before {
            box-shadow: 0 0 1px 1px color("dark", text)!important;
            background-color: color("dark", layout-20);
        }
    }
}